@namespace Client.Pages.MyProducts
@inherits LayoutComponentBase
@layout Client.BasicLayout
@page "/my-products"
@using Client.Pages.List
@using ModelsLibrary.JsonModels
@inject SweetAlertService Swal
@inject IMessageService _message

@if (!_isAuthenticated)
{
    NavigationManager.NavigateTo("/exception/403");
}
else
{
    <PageContainer Title="My Products">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>My Products</BreadcrumbItem>
                <BreadcrumbItem>Search</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Content>
            <h3>Here you can check your products or add new. Just start with @@ tag. Multiple adding supported! Try it.</h3>
            <Mentions Placeholder="please enter @@" @bind-Value="_mentionedIngredients">
                @foreach (var ingredient in _ingredients)
                {
                    <MentionsOption Value="@ingredient.Name">@ingredient.Name</MentionsOption>
                }
            </Mentions>
            <Button Style="margin-top: 10px" OnClick="AddSelectedProducts">Add selected products to my list</Button>
        </Content>
        <ChildContent>
            <div class="filterCardList">
                <br />
                @if (_userIngredients.Count > 0)
                {
                    <AntList TItem="IngredientDTO"
                         Grid="_listGridType"
                         DataSource="_userIngredients">
                    <ListItem NoFlex>
                        <Card Hoverable
                              BodyStyle="padding-bottom: 20px;">
                              <ChildContent>
                                 <CardMeta>
                                    <TitleTemplate>
                                        @context.Name
                                    </TitleTemplate>
                                 </CardMeta>
                              </ChildContent>
                            <ActionTemplate>
                                <CardAction>
                                    <Popconfirm Title="Are you sure delete this product from your list?"
                                                OnConfirm="@(()=> {RemoveProduct(context.Name);})"
                                                OnCancel="Cancel"
                                                OkText="Yes"
                                                CancelText="No">
                                        <a><Icon Type="delete" /></a>
                                    </Popconfirm>
                                </CardAction>
                            </ActionTemplate>
                        </Card>
                    </ListItem>
                            </AntList>
                }
                else
                {
                    <Empty/>
                }
            </div>
        </ChildContent>
    </PageContainer>
}
@code
{
    private static readonly RenderFragment Delete =
        @<AntDesign.Tooltip Title="@("Delete")">
        <Icon Type="delete" Theme="outline" />
        </AntDesign.Tooltip>;

    private static readonly IList<RenderFragment> Actions = new List<RenderFragment>
    {
        Delete
    };
}
