@namespace Client.Pages.MyProducts
@inherits LayoutComponentBase
@layout Client.BasicLayout
@page "/my-products"
@using Client.Pages.List
@using ModelsLibrary.JsonModels;
@inject SweetAlertService Swal
@if (!_isAuthenticated)
{
    NavigationManager.NavigateTo("/exception/403");
}
else
{
    <PageContainer Title="Search">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>My Products</BreadcrumbItem>
                <BreadcrumbItem>Search</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Content>
            <Mentions Placeholder="please enter @@" @bind-Value="_mentionedIngredients">
                @foreach (var ingredient in _ingredients)
                {
                    <MentionsOption Value="@ingredient.Name">@ingredient.Name</MentionsOption>
                }
            </Mentions>
            <Button Style="margin-top: 10px" OnClick="AddSelectedProducts">Add selected products to my list</Button>
        </Content>
        <ChildContent>
            <div class="filterCardList">
                <Card>
                    <Form Model="_ingredients"
                          Layout="inline">
                        <StandardFormRow Title="Category" Block Style="padding-bottom: 11px">
                            <FormItem>
                                <TagSelect Expandable Value="_selectCategories">
                                    <TagSelectOption Value="cat1">Category 1</TagSelectOption>
                                    <TagSelectOption Value="cat2">Category 2</TagSelectOption>
                                    <TagSelectOption Value="cat3">Category 3</TagSelectOption>
                                    <TagSelectOption Value="cat4">Category 4</TagSelectOption>
                                    <TagSelectOption Value="cat5">Category 5</TagSelectOption>
                                    <TagSelectOption Value="cat6">Category 6</TagSelectOption>
                                    <TagSelectOption Value="cat7">Category 7</TagSelectOption>
                                    <TagSelectOption Value="cat8">Category 8</TagSelectOption>
                                    <TagSelectOption Value="cat9">Category 9</TagSelectOption>
                                    <TagSelectOption Value="cat10">Category 10</TagSelectOption>
                                    <TagSelectOption Value="cat11">Category 11</TagSelectOption>
                                    <TagSelectOption Value="cat12">Category 12</TagSelectOption>
                                </TagSelect>
                            </FormItem>
                        </StandardFormRow>
                    </Form>
                </Card>
                <br />
               <AntList TItem="IngredientDTO"
                         Grid="_listGridType"
                         DataSource="_userIngredients">
                    <ListItem NoFlex>
                        <Card Hoverable
                              BodyStyle="padding-bottom: 20px;"
                              Actions="Actions">
                            <CardMeta>
                                <TitleTemplate>
                                    @context.Name
                                </TitleTemplate>
                            </CardMeta>
                        </Card>
                    </ListItem>
                </AntList>
            </div>
        </ChildContent>
    </PageContainer>
}
@code
{
    private static readonly RenderFragment Download =@<AntDesign.Tooltip Title="@("Download!")">
        <Icon Type="download" Theme="outline" />
    </AntDesign.Tooltip>;

    private static readonly IList<RenderFragment> Actions = new List<RenderFragment>
    {
        Download,
        @<AntDesign.Tooltip Title="@("Edit")"><Icon Type="edit" Theme="outline" /></AntDesign.Tooltip>,
        @<AntDesign.Tooltip Title="@("Share")"><Icon Type="share-alt" Theme="outline" /></AntDesign.Tooltip>,
        @<Dropdown><Icon Type="ellipsis" Theme="outline" /></Dropdown>
    };
}
