@namespace Client.Pages.Dashboard.Analysis
@page "/"
@using Client.Models.MyModels;
@using Client.Pages.List
@inject NavigationManager _navigationManager
@inject IMessageService _message

<GridContent>
    <SalesCard />
</GridContent>
<div class="coverCardList">
    <Card>
        <Form Model="_model"
              Layout="inline">
            <StandardFormRow>
                <h3>Selected category: <b>@_selectedCategoryName</b></h3>
                <br/>
                <RadioGroup @bind-Value="@_selectedCategoryName">
                    @foreach (var category in _categories.CategoriesList)
                    {
                        <Radio Value="@category.strCategory">@category.strCategory</Radio>
                    }
                </RadioGroup>
                <Button Type="@ButtonType.Primary" OnClick="FindMeals">Find Meals</Button>
            </StandardFormRow>
        </Form>
    </Card>
    <div class="cardList">
        <AntList TItem="Meal"
                 Grid="_listGridType"
                 DataSource="_meals">
            <ListItem NoFlex>
                <a @onclick='() => _navigationManager.NavigateTo("/dishes/details/" + context.idMeal)'>
                    <Card Class="card" Hoverable Bordered Style="margin:5px">
                        <Cover>
                            <img alt="@context.strMeal" src="@context.strMealThumb" />
                        </Cover>
                        <ChildContent>
                            <CardMeta>
                                <DescriptionTemplate>@context.strTags</DescriptionTemplate>
                                <TitleTemplate>@context.strMeal</TitleTemplate>
                            </CardMeta>
                            <div class="cardItemContent">
                                @if(!String.IsNullOrWhiteSpace(context.strArea))
                                {
                                    <span>Area: @context.strArea</span> <br/>
                                }
                                @if(context.Indgridients.Count > 0)
                                {
                                    @foreach (var tag in context.Indgridients)
                                    {
                                        @if(!String.IsNullOrWhiteSpace(tag) && _isAuthenticated && _userIngredients.Any(i => i.Name == tag) 
                                        || !_isAuthenticated && !String.IsNullOrEmpty(tag))
                                        {
                                            <Tag Style="margin:1px" PresetColor="PresetColor.Green">@tag</Tag>
                                        }
                                        else if (!String.IsNullOrWhiteSpace(tag))
                                        {
                                            <Tag Style="margin:1px" PresetColor="PresetColor.Red">@tag</Tag>
                                        }
                                    }
                                }
                            </div>
                        </ChildContent>
                    </Card>
                </a>
            </ListItem>
        </AntList>
    </div>
</div>